.contact-section {
  width: 100%;
  height: 36rem;
  margin-top: 20rem;
  margin-left: 13rem;
  h2 {
    letter-spacing: 0.5rem;
    color: #fff;
    font-size: 2rem;
  }
  p {
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 1.3rem;
    color: #fff;
    width: 70rem;
  }
  h4 {
    font-size: 1.5rem;
    color: #d4a7ff;
    margin-top: 2rem;
  }
}
